@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* background */
  --background: #ffffff;
  --background-2: #f8f5ff;
  --card: #ffffff;

  /* (Primary) */
  --primary: #7b3f98;
  --secondary: #e9d5ff;
  --third: #c9c5cf;

  /* (Accent) */
  --accent: #003066;
  --brand-orange: #f7941d;

  /* Text */
  --maintext: #1a1a1a;
  --text: #ffffff;
  --subtext: #888a8d;

  /* Border and Hover */
  --border: #ced3da;
  --hover: #9e58c7;
  --sucsses: #10b981;
  --worning: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-accent: var(--accent);
  --color-brand-orange: var(--brand-orange);
  --color-maintext: var(--maintext);
  --color-text: var(--text);
  --color-subtext: var(--subtext);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --color-sucsses: var(--sucsses);
  --color-worning: var(--worning);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--maintext);
  /* تحسين وضوح الخط العربي */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* تخصيص الـ Selection (التحديد) ليكون بلون الخزامى */
::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

.loader-ring {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-left: 4px solid var(--primary);
  border-right: 4px solid var(--accent);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
